/mavenproject1/target/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/First Class/nbproject/private/
/First Class/build/
/FirstClass/nbproject/private/
/FirstClass/build/
/FirstClass/dist/
/PrimeNumber/nbproject/private/
/PrimeNumber/build/
/EvenOrOdd/nbproject/private/
/EvenOrOdd/build/
/Fibonacci/nbproject/private/
/Fibonacci/build/
/CelsiusToFahrenheit/nbproject/private/
/CelsiusToFahrenheit/build/
/UseScanner/nbproject/private/
/UseScanner/build/
/FactorialNumber/nbproject/private/
/FactorialNumber/build/
/TimeConverter/nbproject/private/
/TimeConverter/build/
/ConvertSeconds/nbproject/private/
/ConvertSeconds/build/
/CircleArea/nbproject/private/
/CircleArea/build/
/DisplayCurrentTime/nbproject/private/
/DisplayCurrentTime/build/
/Test/nbproject/private/
/Test/build/
/Practice/nbproject/private/
/Practice/build/
/Practice/dist/
/CalculateInterest/nbproject/private/
/CalculateInterest/build/
/RadiusCalculator/nbproject/private/
/RadiusCalculator/build/
/TriangleArea/target/
/TriangleArea/nbproject/private/
/TriangleArea/build/
/CircleAreaUnlimited/nbproject/private/
/CircleAreaUnlimited/build/
/PositiveNegetiveZeroCheacker/nbproject/private/
/PositiveNegetiveZeroCheacker/build/
/LeapYearChecker/nbproject/private/
/LeapYearChecker/build/
/GreatestNumber/nbproject/private/
/GreatestNumber/build/
/CheckVowels/nbproject/private/
/CheckVowels/build/
/GradeChecker/nbproject/private/
/GradeChecker/build/
/TypeOfTriangle/nbproject/private/
/TypeOfTriangle/build/
/SwitchStatement/nbproject/private/
/SwitchStatement/build/
/CalculatorUsingSwitch/nbproject/private/
/CalculatorUsingSwitch/build/
/RandomMethod/nbproject/private/
/RandomMethod/build/
/NumberGussingGame/nbproject/private/
/NumberGussingGame/build/
/NumberGuessingGame/nbproject/private/
/NumberGuessingGame/build/
/Number/nbproject/private/
/Number/build/
/Rock/nbproject/private/
/Rock/build/
/RockPaperScissors/nbproject/private/
/RockPaperScissors/build/
/RockPaperScissorsGame/nbproject/private/
