/mavenproject1/target/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/First Class/nbproject/private/
/First Class/build/
/FirstClass/nbproject/private/
/FirstClass/build/
/FirstClass/dist/
/PrimeNumber/nbproject/private/
/PrimeNumber/build/
/EvenOrOdd/nbproject/private/
/EvenOrOdd/build/
/Fibonacci/nbproject/private/
/Fibonacci/build/
/CelsiusToFahrenheit/nbproject/private/
/CelsiusToFahrenheit/build/
/UseScanner/nbproject/private/
/UseScanner/build/
/FactorialNumber/nbproject/private/
/FactorialNumber/build/
